= form_for @roulette do |f|
  - if @roulette.errors.any?
    #error_explanation
      %h2= "#{pluralize(@roulette.errors.count, "error")} prohibited this roulette from being saved:"
      %ul
        - @roulette.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :game_id
    = f.number_field :game_id
  .field
    = f.label :weather_avg
    = f.number_field :weather_avg
  .field
    = f.label :number_rounds
    = f.number_field :number_rounds
  .field
    = f.label :winning_number
    = f.number_field :winning_number
  .actions
    = f.submit 'Save'
