%p#notice= notice

%p
  %b Temperatura promedio:
  = @roulettes.exists? ? @roulettes.last.weather_avg : 0
%p
  %b Ronda actual:
  = @roulettes.maximum(:number_rounds)

=image_tag ('wheel.png')

=render 'round_table' 

=render 'round_detail'
        
%br


%p= link_to 'Añadir jugadores', new_player_path

%p= button_to '¡Jugar!', roulette_path('', weather_avg: 1)

= link_to 'Github', 'https://www.github.com/glabrat/ror-ruleta'
\|
= link_to 'Meteored (Api para el tiempo climático)', 'https://www.meteored.cl/'