%p#notice= notice

%p
  %b Nombre de la sala:
  = @game.name
%p
  %b Mínimo de jugadores:
  = @game.min_players
%p
  %b Máximo de jugadores:
  = @game.max_players
%p
  %b Tiempo entre rondas:
  %span.time_rounds= @game.time_rounds
%p
  %b Temperatura promedio:
  = @roulettes.last.weather_avg
%p
  %b Ronda actual:
  = @roulettes.maximum(:number_rounds)
%p
  %b Número ganador:
  = @roulettes.last.winning_number

=image_tag ('wheel.png')

%h1 Lista Rondas

%table
  %thead
    %tr
      %th Nº Ronda
      %th Cantidad de jugadores
      %th Clima 
      %th Número ganador 
      %th Tiempo para la próxima ronda
      %th
      %th
      %th

  %tbody
    - @roulettes.each do |roulette|
      %tr
        %td= roulette.number_rounds
        %td= @players.count 
        %td= roulette.weather_avg
        %td= roulette.winning_number
        - if roulette == @roulettes.last
          %td 
            %span.timer 
        - else
          %td 0
        %td= link_to 'Detalle', '/rounds/'
        -if roulette == @roulettes.last
          %td= button_to 'Acelerar Ronda!', roulette_path('', game_id: roulette.game_id, number_rounds: roulette.number_rounds + 1)

= link_to 'Volver', roulettes_path
= link_to 'Terminar Juego', '#'