%h1 Listing roulettes

%table
  %thead
    %tr
      %th Game
      %th Weather avg
      %th Number rounds
      %th Winning number
      %th
      %th
      %th

  %tbody
    - @roulettes.each do |roulette|
      %tr
        %td= roulette.game_id
        %td= roulette.weather_avg
        %td= roulette.number_rounds
        %td= roulette.winning_number
        %td= link_to 'Show', roulette
        %td= link_to 'Edit', edit_roulette_path(roulette)
        %td= link_to 'Destroy', roulette, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Roulette', new_roulette_path

= link_to 'Volver', games_path
