%p#notice= notice

%p
  %b Player money:
  = @round.player_money
%p
  %b Player money bet:
  = @round.player_money_bet
%p
  %b Player:
  = @round.player_id
%p
  %b Roulette:
  = @round.roulette_id
%p
  %b Player final money:
  = @round.player_final_money

= link_to 'Edit', edit_round_path(@round)
\|
= link_to 'Back', rounds_path
