%h1 Lista de salas de juegos

%table
  %thead
    %tr
      %th Nombre de la sala
      %th Mínimo de jugadores
      %th Máximo de jugadores
      %th Tiempo de las rondas
      %th
      %th

  %tbody
    - @games.each do |game|
      %tr
        %td= game.name
        %td= game.min_players
        %td= game.max_players
        %td= game.time_rounds        
        %td= button_to '¡Jugar!', roulette_path('', game_id: game.id, number_rounds: 1)
        %td= link_to 'Ver Estadísticas', "/roulettes/#{game.id}"
%br

\|
= link_to 'Jugadores', 'players'
%p= link_to 'Volver a la pantalla de inicio', root_path
