%p#notice= notice

%p TODO

%p
  %b Nombre de la sala:
  = @game.name
%p
  %b Mínimo de jugadores:
  = @game.min_players
%p
  %b Máximo de jugadores:
  = @game.max_players
%p
  %b Tiempo entre rondas:
  %span.time_rounds= @game.time_rounds

%p
  %b Ronda actual:
  -# = @roulettes.maximum(:number_rounds)

=image_tag ('wheel.png')

= link_to 'Ver Juego', roulettes_path
\|
= link_to 'Volver', games_path
\|
= link_to 'Terminar Juego', '#'