= form_for @player do |f|
  - if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} No se puede guardar la información:"
      %ul
        - @player.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :money
    = f.number_field :money, min: 10000
  .actions
    = f.submit 'Guardar'
