%h1 Lista de Jugadores

%table
  %thead
    %tr
      %th Nombre
      %th Dinero
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.name
        %td= number_to_pesos(player.money)
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, method: :delete, data: { confirm: '¿Está seguro?' }

%br

= link_to 'Jugador Nuevo', new_player_path
