%h1 Lista de Jugadores

%table
  %thead
    %tr
      %th Nombre
      %th Dinero
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.name
        %td= number_to_pesos(player.money)
        %td= link_to 'Ver', player
        %td= link_to 'Editar', edit_player_path(player)

%br

%p= link_to 'Jugador Nuevo', new_player_path
%p= link_to 'Volver', roulettes_path